.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

input {
  width: 60%;
  padding: 0.5rem;
}

.emoji-class {
  padding: 1rem;
  font-size: 3rem;
  cursor: "pointer";
  margin: 2rem;
  width: 60%;
}

.output {
  font-size: 2rem;
}

.heading {
  font-size: 3rem;
}
